@import url(./Navbar.css);
@import url(./Header.css);
@import url(./Main.css);
@import url(./Footer.css);
@import url(./Animations.css);
@import url(./Variables.css);
@import url(./Postcodecheck.css);
@import url(./MapsEmbed.css);
@import url(./Mobile-Override.css);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
