@media screen and (orientation:portrait) /*or (height > 100vw)*/ { /* if portrait mode (like on mobile) */
  .toWebshop {
    margin: auto;
    margin-top: 8rem;
  }

  .headerCard {
    max-width: 90%;
  }

  .headerCard .button {
    width: 100%;
    margin: 1rem 0 0;
    display: block;
    text-align: center;
  }

  .mainCol1Mobile {
    grid-template-columns: 1fr;
  }

  .navbarTitle, .navbarTitleRight, .navbarLogoRight {
    display: none;
  }

  .navBarLogoLeft {
    display: flex;
  }

  .Postcodecheck {
    left: 10%;
    margin: 20% auto;
    width: 80%;
  }
}
